<p>Lorem ipsum <%= tooltip "tooltip default", tip: "Hello" %> one</p>
<p>Lorem ipsum <%= tooltip "tooltip bottom", to: 'bottom', tip: "Hello" %> one</p>
<p>Lorem ipsum <%= tooltip "tooltip left", to: 'left', tip: "Hello" %> one</p>
<p>Lorem ipsum <%= tooltip "tooltip right", to: 'right', tip: "Hello" %> one</p>
<p>Lorem ipsum <%= tooltip "tooltip top", to: 'top', tip: "Hello" %> one</p>
