<div class="sections">
  <%= component 'theme_kit/index/collapsibles' %>
  <div class="block-of-two">
    <%= component 'theme_kit/index/animations' %>
    <%= component 'theme_kit/index/buttons' %>
  </div>
</div>
<%= component 'theme_kit/index/form' %>
<div class="popups">
  <%= component 'theme_kit/index/lightbox' %>
  <%= component 'theme_kit/index/modals' %>
  <%= component 'theme_kit/index/tooltip' %>
</div>
<%= component 'theme_kit/index/tabs' %>
<%= component 'theme_kit/index/tables' %>
