<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Surface</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  <%= stylesheet_link_tag 'ui_kit', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body class="<%= body_class %>">
  <header>
    <%= component 'layouts/ui_kit/alerts' %>
    <nav>
      <%= component 'layouts/ui_kit/nav' %>
    </nav>
  </header>

  <aside>
    <%= component 'layouts/ui_kit/nav_aside' %>
  </aside>

  <main role="main">
    <%= yield %>
  </main>

  <footer>
    <%= component 'layouts/ui_kit/typography' %>
  </footer>
</body>
</html>
